<% provide(:title, "Activities") %>
<div class="container">
  <h1>What activities are you looking to do?</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://tropicalbeachgetaways.com/wp-content/uploads/2010/12/Bira-Beach.jpg" alt="">
                <p class="imgDescription">Beach</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://www.grouphomesphilippines.com/images/RetirementDestinations/metromanila2.jpg" alt="">
                <p class="imgDescription">City Exploration</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://wbtv.images.worldnow.com/images/15184572_BG1.jpg" alt="">
                <p class="imgDescription">Climb Waterfalls</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="https://afar-production.imgix.net/uploads/images/post_images/images/HpTvWkvi6x/original_c207aa2b4de6e0c09f53ee8aea5f3c0a.jpg?1429385939?ixlib=rails-0.3.0&crop=top&fit=crop&h=300&w=400" alt="">
                <p class="imgDescription">Water Sports</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://imagecache6.allposters.com//LRG//%5C22%5C2278%5CNT1ID00Z.jpg" alt="">
                <p class="imgDescription">Explore Rain Forests</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://gallery.thelongestwayhome.com/img/s6/v151/p499083721-2.jpg" alt="">
                <p class="imgDescription">Learn Local Culture</p>
            </a>
        </div>
    </div>
</div>