<% provide(:title, "Home") %>
<h1>CodePhil Booking Edition!</h1>
<p>Temp main page</p>
<p>Sign up, search, carsouel of resorts with sign up button, simple blurb about what we offer, user testimony, partnerships with government and other reputable places</p>
<p>instead of just pictures, have an interactive map where people can pick to zoom into places. Has stats like how many people went to this place</p>
