<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container"> 
  <h1 id="logo"> eSC </h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About Us", root_path %></li>
        <li><%= link_to "Log In", root_path %></li>
        <li><%= link_to "Sign Up", root_path %></li>
        <li><%= link_to "Help", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
